@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}
.btn {
  border: none;
  color: white;
  background-color: #5d4954;
  color: rgb(225, 225, 255);
  width: 80px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  text-transform: capitalize;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(50);
  /* text-align: center; */
}

.node {
  width: 20px;
  height: 20px;
  background-color: white;
  outline: 1px solid rgba(44, 48, 48, 0.75);
  display: inline-block;
}
